<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get All Contacts</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    * {
      margin:0;
      padding:0;
    }
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 3em;
      margin-bottom: 20px;
    }
    h1 i {
      margin-right: 0.8em;
    }
    h2 {
      margin-bottom: 15px;
    }
  </style>
</head>
<body>
  <h1><i class="fa-solid fa-address-card"></i>Contacts Page</h1>
  <h2><%= heading %></h2>
  <ul>
    <% users.forEach(user => { %>    
      <li>
        <strong>Name: </strong> <%= user.name %>
      </li>
      <li>
        <strong>E-mail: </strong><%= user.email %>
      </li>
    <% }); %>
  </ul>
</body>
</html>