<!-- include header -->
<%- include('./include/_header') %>
<!-- /include header -->

  <!-- Main -->
  <main id="site-main">

      <h3>사용자 등록</h3>

      <form action="/register" method="POST" class="register">
        <label for="username"><b>아이디</b></label>
        <input type="text" placeholder="아이디" name="username" id="username">
        <label for="password"><b>비밀번호</b></label>
        <input type="password" placeholder="비밀번호" name="password" id="password">
        <label for="password2"><b>비밀번호 확인</b></label>
        <input type="password" placeholder="비밀번호 확인" name="password2" id="password2">
        <input type="submit" value="등록" class="register-btn">
      </form>      
  </main>
  <!-- /Main -->

<!-- include footer -->
<%- include('./include/_footer') %>
<!-- /include footer -->