<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>나의 레이아웃</title>
</head>
<body>
  <!-- 여기에 바뀔 내용이 표시됨 -->
  <%- body %>
</body>
</html>