<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= locals.title %></title>
  <meta name="description" content="My first application using Node.js, Express and MongoDB">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  
  <div class="container">   

    <!-- 헤더 : 로고, 상단 메뉴, 로그인 -->
    <header class="header">
      <!-- 로고 -->
      <a href="/" class="header-logo">오후의 블로그</a>

      <!-- 상단 메뉴 -->
      <nav class="header-nav">
        <ul>
          <li>
            <a href="/home">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>         
        </ul>
      </nav>

      <!-- 관리자 로그인 -->
      <div class="header-button">
        <a href="/admin">관리자 로그인</a>
      </div>
    </header>

    <!-- 메인 : 실제 내용이 들어갈 부분 -->    
    <main class="main">
      <%- body %>
    </main>
  </div>  

</body>
</html>