<div class="admin-title">
  <h2><%= locals.title %></h2>
  <a href="/add" class="button">+ 새 게시물</a>
</div>

<ul class="admin-posts">

  <% data.forEach(post => { %>
   
    <li>
      <a href="/post/<%= post._id %>">
        <%= post.title %> 
      </a>
      <div class="admin-post-controls">
        <a href="/edit/<%= post._id %>" class="btn">편집</a>

        <form action="#">
          <input type="submit" value="삭제" class="btn-delete btn">
        </form>

      </div>

    </li>

  <% }) %>
</ul>