<h3>로그인</h3>

<form action="/admin" method="POST">
  <label for="username"><b>사용자 이름</b></label>
  <input type="text" name="username" id="username">

  <label for="password"><b>비밀번호</b></label>
  <input type="password" name="password" id="password">

  <input type="submit" value="로그인" class="btn">
</form>

<!-- 더 이상 사용하지 않으므로 삭제하거나 주석 처리 -->
<!-- 관리자 등록 -->

<!-- <h3>등록</h3>

<form action="/register" method="POST">

  <label for="username"><b>사용자 이름</b></label>
  <input type="text" name="username" id="username">

  <label for="password"><b>비밀번호</b></label>
  <input type="password" name="password" id="password">

  <input type="submit" value="등록" class="btn">

</form>  -->