      <!-- 상단 소개글, 히어로 이미지 -->
      <div class="top">
        <h1 class="top-heading">하루하루 스터디</h1>
        <p class="top-body">매일 1시간씩 공부한 내용을 기록하고 있습니다.</p>
      </div>

      <img src="/img/top-hero.jpg" alt="노트에 기록하는 모습" class="hero-image" width="840" height="400">

      <!-- 최근 게시물 -->
      <section class="articles">
        <h2 class="articles-heading">최근 게시물</h2>
        <ul class="article-ul">
          <% data.forEach(post => { %>
            <li>
              <a href="#">
                <span><%= post.title %></span>
                <span class="article-list-date"><%= post.createdAt.toDateString() %></span>
              </a>
            </li>
            <% }) %>
        </ul>
      </section>